<EmailConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MailFromEmailAddress>"Reports" &lt;Reports@Schalltech.com&gt;</MailFromEmailAddress>
  <ReplyToEmailAddress>help@Schalltech.com</ReplyToEmailAddress>

  <SuccessItEmailAddress></SuccessItEmailAddress>
  <WarningItEmailAddress></WarningItEmailAddress>
  <FailureItEmailAddress></FailureItEmailAddress>

  <SuccessClientEmailAddress></SuccessClientEmailAddress>
  <WarningClientEmailAddress></WarningClientEmailAddress>
  <FailureClientEmailAddress></FailureClientEmailAddress>

  <Port>587</Port>
  <!--<Port>25</Port>-->
  
  <Servers>
    <!--<Server>mail.schalltech.com</Server>-->
    <Server>in-v3.mailjet.com</Server>
  </Servers>
</EmailConfiguration>