<?xml version="1.0" encoding="utf-8" ?>
<LoggerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Formats - http://logging.apache.org/log4net/release/sdk/log4net.Util.PatternString.html-->
  <DefaultAppenders>
    <RollingFileAppender Name="Default" Path="C:\Schalltech\Local\Logs\" RollFileExistsBehavior="Increment" RollInterval="Midnight" RollSizeKB="10MB" TimeStampPattern="yyyy-MM-dd" MaxArchivedFiles="10"
         Template="%date Thread[%thread] %-5level Message | %message%newline"/>
  </DefaultAppenders>
</LoggerConfiguration>